* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(22, 22, 45);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(23, 23, 67);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(152, 152, 243);
    font-size: 1.01rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;

}

.firstSection>div {
    width: 40%;
}

.firstSection .leftSection {
    font-size: 3rem;
}
.firstSection .leftSection .buttons{
    padding: 50px 0;
}
.firstSection .leftSection .btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.firstSection .rightSection img {
    width: 80%;
}

.purple {
    color: rgb(141, 50, 227);
}

.textgrey {
    color: gray;
}

#element {
    color: rgb(141, 50, 227);

}

.secondSection {
    max-width: 55vw;
    margin: 50px;
    height: 56vh;
    align-items: center;
    padding: 50px;
    justify-content: center;
}

.secondSection #element {
    font-size: 2.5rem;
}

.secondSection .box {
    background: white;
    width: 76vw;
    height: 2px;
    margin: 56px;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 190px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 16px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 250px;
    font-size: 14px;
}
footer{
    background-color: rgb(23, 23, 67);
    height: 50px;
    text-align: center;
}
.footer{
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}/*
.footer >div{
    width: 223px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
    padding: 12px 12px;
}*/
footer .single-footer{
    text-align: center;
    padding: 12px 12px;
    margin: 10px 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}
footer ul li a:hover {
    text-decoration: none;
    color: rgb(152, 152, 243);
    font-size: 1.01rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #9c97f1;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #9c97f1;
}
.education{
    text-align: center;
}
.myskills{
    text-align: center;
    justify-content: center;
}
#skills{
    text-align: center;
}
.thirdSection{
    align-items: center;
    justify-content: center;
}

.thirdSection .box {
    background: white;
    width: 90vw;
    height: 2px;
    margin: 56px;
    display: flex;
    justify-content: center;
}

.thirdSection .vertical {
    height: 50px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px
}

.thirdSection .vertical-title {
    position: relative;
    top: 25px;
    width: 50px;
    font-size: 14px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.thirdSection .leftSection, .thirdSection .rightSection {
    flex: 1;
    border: none;
    padding: 20px;
    margin-right: 20px;
}
.fourthSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;

}

.fourthSection>div {
    width: 40%;
}

.fourthSection .rightSection {
    font-size: 1.3rem;
}
.fourthSection .rightSection .buttons{
    padding: 50px 0;
}
.fourthSection .rightSection .btn{
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.fourthSection .leftSection img {
    width: 80%;
}

.purpleContact {
    color: rgb(141, 50, 227);
    font-size: 2rem;
}